/* App.css */
.app {
  text-align: center;
  padding: 50px;
  width: 80%;
  margin: auto;
}

.carousel-container {
  margin: auto;
  max-width: 100%;
}

.city-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 20px;
  height: 200px;
  width: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.city-card h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

.city-card p {
  margin: 0;
  font-size: 20px;
  color: #666;
}

.react-multi-carousel-dot-list {
  display: none;
}

/* CSS adicional para lograr el efecto deseado en el Carousel */
.carousel .slide {
  opacity: 0.5;
  transition: all 0.5s;
}

.carousel .slide.center {
  opacity: 1;
  transform: scale(1.1);
}

.carousel .carousel-slider {
  padding: 0 20px;
}

.carousel.carousel-slider .control-arrow {
  opacity: 0.5;
}
